:root {
  --green: #02402d;
  --btn-green: #008000;
  --beje: #b88863;
  --gray: #686867;
  --off-white: #f2f2f2;
  --palha: #dacfbf;

  --size-xxs: max(0.5rem, 0.75vw);
  --size-xs: max(1rem, 1.2vw);
  --size-sm: max(1.3rem, 1.4vw);
  --size-md: max(1.5rem, 2vw);
  --size-lg: max(2rem, 3vw);
  --size-xl: max(3.4rem, 2.8vw);
  --size-xxl: max(5rem, 3.5vw);

  --font-title: 'Grenze Gotisch';
  --font-text: 'Libre Franklin';

};

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  overflow-x: hidden;
}
