.container-session04 {
  background-color: rgba(0, 0, 0, 0.6); /* Fundo translúcido */
  text-align: center;
  background-image: url("../assets/backgorunds-Mobile-Tablet/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 80px 20px;
}

.content-session04 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 80px;
}

.title-session04 {
  font-size: var(--size-xxl);
  color: var(--beje);
  margin-bottom: 16px;
  font-family: var(--font-title);
}

.description-session04 {
  font-size: var(--size-md);
  color: var(--palha);
  font-family: var(--font-text);
  margin-bottom: 16px;
}

.bonus-session04 {
  font-size: var(--size-xs);
  color: var(--off-white);
  line-height: 1.5;
  font-family: var(--font-text);
}


@media (min-width: 768px) {
  .container-session04 {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .content-session04 {
    height: 70%;
    gap: 50px;
  }

  .title-session04 {
    font-size: var(--size-xxl);
    text-align: center;
    padding: 0;
  }

  .description-session04 {
    font-size: var(--size-lg);
    text-align: center;
    width: 80%;
  }

  .bonus-session04 {
    font-size: var(--size-md);
    width: 80%;
  }

  .cta-button-session04 {
    width: 60%;
    font-size: var(--size-lg);
    padding: 30px;
  }
}

@media (min-width: 1024px) {
  .container-session04 {
    background-image: url("../assets/backgrounds-Desktop/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .content-session04 {
    gap: 50px;
    height: 70%;
    max-height: 580px;
    width: 60%;
    margin: 20px;
  }

  .title-session04 {
    font-size: max(4rem, 2.5vw);
    text-align: center;
    padding: 0;
    width: 40%;
  }

  .description-session04 {
    font-size: var(--size-lg);
    text-align: center;
    width: 80%;
  }

  .bonus-session04 {
    font-size: var(--size-sm);
    width: 80%;
  }

  .cta-button-session04 {
    width: 60%;
    font-size: var(--size-lg);
    padding: 30px;
  }
}