.container-session04 {
  background-color: rgba(0, 0, 0, 0.6); /* Fundo translúcido */
  text-align: center;
  background-image: url("../assets/backgorunds_Sylvia/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.content-session04 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65%;
}

.title-session04 {
  font-size: var(--size-xl);
  color: var(--beje);
  margin-bottom: 16px;
  font-family: var(--font-title);
  text-align: left;
  padding: 0 0 0 40px;
}

.description-session04 {
  font-size: var(--size-md);
  color: var(--palha);
  font-family: var(--font-text);
  margin-bottom: 0;
  padding: 0 10px;
  margin-bottom: 16px;
  width: 90%;
}

.bonus-session04 {
  font-size: var(--size-sm);
  color: var(--off-white);
  line-height: 1.5;
  font-family: var(--font-text);
  width: 90%;
}

.cta-button-session04 {
  background-color: var(--beje);
  color: var(--off-white);
  font-size: var(--size-md);
  font-weight: bold;
  border-radius: 8px;
  margin-top: 16px;
  cursor: pointer;
  padding: 16px;
  margin-bottom: 16px;
  border: none;
}

@media (min-width: 768px) {
  .container-session04 {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-items: start;
  }

  .content-session04 {
    height: 70%;
    gap: 50px;
  }

  .title-session04 {
    font-size: var(--size-xxl);
    text-align: center;
    padding: 0;
    margin-left: 12%;
  }

  .description-session04 {
    font-size: var(--size-lg);
    text-align: center;
    width: 80%;
  }

  .bonus-session04 {
    font-size: var(--size-md);
    width: 80%;
  }

  .cta-button-session04 {
    width: 60%;
    font-size: var(--size-lg);
    padding: 30px;
  }
}
