@import './Global.css';

.container-session07 {
  background-color: var(--green);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.card-session07 {
  background-color: var(--palha);
  color: var(--green);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 12px;
  font-size: var(--size-sm);
}

.card-session07 p {
  font-size: var(--size-sm);
  font-family: var(--font-text);
}

.cta-button-session07 {
  background-color: var(--palha);
  color: var(--green);
  border: none;
  border-radius: 8px;
  padding: 16px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 16px;
}

@media (min-width: 768px) {
  .container-session07 {
    padding: 32px;
    justify-content: space-around;
    gap: 20px;
  }

  .card-session07 {
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--palha);
  }

  .card-session07 p {
    font-size: var(--size-lg);
    line-height: 1.4;
  }

  .cta-button-session07 {
    padding: 16px 32px;
  }
}