.container-session08 {
  background-color: var(--palha);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-session08 {
  font-size: var(--size-lg);
  color: var(--gray);
  margin-bottom: 16px;
  letter-spacing: -1px;
  width: 80%;
  text-align: center;
  margin-top: 16px;
}

.card-session08 {
  background-color: var(--green);
  color: #fff;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 12px;
  font-size: 14px;
  width: 96%;
}

.card-session08 p {
  font-size: var(--size-sm);
  font-family: var(--font-text);
}

.subtitle-session08 {
  font-size: var(--size-md);
  color: var(--beje);
  margin-bottom: 8px;
  font-family: var(--font-title);
}

.btn-session08 {
  margin: 16px;
  padding: 26px 32px;
  font-size: var(--size-sm);
  font-weight: 600;
  color: var(--off-white);
}

.footer-session08 {
  background-color: var(--gray);
  color: var(--off-white);
  padding: 16px;
  font-size: var(--size-sm);
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .container-session08 {
    justify-content: space-around;
    gap: 20px;
  }

  .card-session08 {
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--palha);
  }

  .card-session08 p {
    font-size: var(--size-lg);
    line-height: 1.4;
    color: var(--green);
  }

  .title-session08 {
    font-size: var(--size-xl);
    margin-bottom: 32px;
  }

  .subtitle-session08 {
    font-size: var(--size-lg);
    margin-bottom: 16px;
    padding: 16px;
    background-color: var(--green);
    border-radius: 8px;
    color: var(--off-white);
  }

  .btn-session08 {
    padding: 32px 48px;
    font-size: var(--size-md);
  }

  .footer-session08 {
    font-size: var(--size-md);
  }
}