@import "./Global.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}


.container-session06 {
  display: flex;
  justify-content: center;
  align-items: end;
  background-image: url('../assets/backgorunds_Sylvia/3.jpg');
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
}

.content-session06 {
  text-align: center;
  padding-bottom: 1rem;
}

.text-session06 {
  font-size: var(--size-sm);
  color: var(--off-white);
  line-height: 1.2;
  font-family: var(--font-text);
  margin: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
}
