@import "./Global.css";

.container-session03 {
  background-image: url("../assets/backgrounds-Desktop/2.jpg");
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  background-color: var(--palha);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 16px;
}

.title-session03,
.subtitle-session03 {
  font-size: var(--size-lg);
  color: var(--gray);
  margin-bottom: 16px;
  text-align: center;
}

.list-session03 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--green);
  font-size: var(--size-sm);
  font-family: var(--font-text);
  gap: 20px;
  width: 80%;
}

.list-session03 li {
  list-style: none;
  font-weight: 100;
  font-size: var(--size-sm);
  border: 1px solid var(--gray);
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  background-color: var(--green);
  color: var(--off-white);
}

.details-session03 {
  width: 90%;
  background-color: var(--off-white);
  padding: 16px;
  border-radius: 8px;
}

del {
  color: red;
  font-size: var(--size-md);
}

.details-session03 p {
  font-size: var(--size-sm);
  margin: 8px 0;
}

.details-session03 strong {
  font-weight: bold;
  color: var(--gray);
}

.highlight-session03 {
  color: var(--green);
  margin: 20px 0;
  background: none;
  text-align: center;
}


.price-session03-finally,
.price-session03 p {
  color: green;
  font-family: var(--font-title);
}

.text {
  width: 780px;
  font-size: var(--size-md);
}

.highlight-session03 h2 {
  color: var(--gray);
  font-family: var(--font-title);
  font-size: var(--size-xl);
}

.price-session03-finally {
  font-weight: bold;
  font-size: var(--size-xxl);
}


@media (min-width: 768px) {
  .container-session03 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-image: url("../assets/backgrounds-Desktop/2.jpg");
    padding-bottom: 40px;
  }

  .title-session03 {
    font-size: var(--size-xxl);
    color: var(--green);
  }

  .list-session03 li {
    list-style: none;
    font-weight: 100;
    font-size: var(--size-md);
    border: 1px solid var(--gray);
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    background-color: var(--green);
    color: var(--off-white);
  }

  .subtitle-session03 {
    font-size: var(--size-xl);
  }

  .details-session03 p {
    font-size: var(--size-md);
  }

  .highlight-session03 del {
    font-size: var(--size-md);
  }

  .highlight-session03 h2 {
    color: var(--gray);
    font-family: var(--font-title);
    font-size: var(--size-xl);
  }

  .text {
    font-size: var(--size-xl);
  }

  .price-session03 {
    font-size: var(--size-xl);
  }

  .price-session03-finally {
    font-size: var(--size-xxl);
  }

  .cta-button-session03 {
    font-size: var(--size-md);
  }
}

@media (min-width: 853px) {
  .container-session03 {
    background-image: url("../assets/backgrounds-Desktop/2.jpg");
  }

  .title-session03 {
    font-size: var(--size-xl);
  }

  .subtitle-session03 {
    font-size: var(--size-xl);
  }

  .list-session03 {
    font-size: var(--size-md);
  }

  .details-session03 p {
    font-size: var(--size-md);
  }

  .price-session03 {
    font-size: var(--size-xl);
  }

  .price-session03-finally {
    font-size: var(--size-xxl);
  }

  .cta-button-session03 {
    font-size: var(--size-md);
  }
}

@media (min-width: 1024px) {
  .container-session03 {
    background-image: url("../assets/backgrounds-Desktop/2.jpg");
    align-items: center;
    justify-content: center;
  }

  .title-session03 {
    font-size: var(--size-xl);
    font-family: var(--font-title);
  }

  .list-session03 {
    display: flex;
    flex-direction: row;
  }

  .list-session03 li {
    font-size: var(--size-sm);
    font-family: var(--font-text);
    font-weight: 400;
    background: none;
    color: var(--green);
    height: 280px;
    max-width: 560px;
    padding: 20px;
    border: 2px solid var(--green);
  }

  .details-session03 p {
    font-size: var(--size-lg);
  }

  .highlight-session03 {
    background: none;
    text-align: center;
  }

  .text {
    width: 780px;
    font-size: var(--size-md);
  }

  .highlight-session03 h2 {
    color: var(--gray);
    font-family: var(--font-title);
    font-size: var(--size-xl);
  }

  .price-session03-finally {
    font-weight: bold;
    font-size: var(--size-xxl);
  }

  .cta-button-session03 {
    font-size: var(--size-lg);
  }
}
