.container-session08 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  background-image: url("../assets/backgrounds-Desktop/2.jpg");
}

.title-session08 {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  font-size: var(--size-lg);
  font-family: var(--font-text);
  text-align: center;
  border-radius: 12px;
  color: var(--green);
}

.faq-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding: 2rem 1rem;
  max-width: 1000px;
  width: 100%;
}

.faq-item {
  width: 100%;
  max-width: 800px;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--btn-green);
  transition: all 0.3s ease-in-out;
}

.faq-question {
  font-size: var(--size-sm);
  font-weight: 700;
  font-family: var(--font-title);
  color: var(--off-white);
  padding: 18px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: var(--green);
  transition: background-color 0.3s ease-in-out;
}

.faq-question:hover {
  background-color: var(--btn-green);
}

.faq-answer {
  font-size: var(--size-sm);
  font-family: var(--font-text);
  text-align: left;
  color: var(--green);
  padding: 16px;
  background-color: var(--palha);
  border-radius: 0 0 8px 8px;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.faq-item.open .faq-answer {
  max-height: 340px;
  opacity: 1;
}

.footer-session08 {
  text-align: center;
  gap: 10px;
  width: 100%;
  padding: 20px;
  background-color: var(--gray);
  color: var(--off-white);
  font-size: var(--size-xs);
  font-family: var(--font-text);
}

.btn-session08 {
  text-align: center;
  width: 100%;
  max-width: 350px;
  padding: 20px;
  border-radius: 6px;
}

@media (min-width: 768px) {
  .faq-section {
    max-width: 900px;
    padding: 2rem;
  }

  .faq-item {
    max-width: 700px;
  }

  .faq-question {
    font-size: var(--size-md);
  }

  .faq-answer {
    font-size: var(--size-md);
  }
}

/* Ajustes para Desktop */
@media (min-width: 1024px) {
  .faq-section {
    max-width: 1000px;
    padding: 3rem;
  }

  .faq-item {
    max-width: 900px;
  }

  .faq-question {
    font-size: var(--size-md);
  }

  .faq-answer {
    font-size: var(--size-sm);
  }

  .footer-session08 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 30px;
    background-color: var(--gray);
    color: var(--off-white);
    font-size: var(--size-xs);
    font-family: var(--font-text);
    font-weight: 300;
    gap: 10px;
  }

  .btn-session08 {
    font-size: var(--size-md);
    padding: 20px;
  }
}
