@import "./Global.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}


.container-session06 {
  display: flex;
  justify-content: center;
  align-items: end;
  background-image: url('../assets/backgorunds-Mobile-Tablet/3.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.content-session06 {
  text-align: center;
  padding-bottom: 1rem;
}

.text-session06 {
  font-size: var(--size-sm);
  color: var(--off-white);
  line-height: 1.2;
  font-family: var(--font-text);
  margin: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .content-session06 {
    padding-bottom: 2rem;
  }

  .text-session06 {
    color: var(--green);
    font-size: var(--size-lg);
    line-height: 1.4;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--palha);
    padding: 1rem;
  }
}